<section class="bg-blue-950 container mx-auto rounded-xl my-20 p-5">
    <h2 class="font-bold text-5xl text-center text-zinc-300">Sobre Nosotros</h2>
    <p class="text-zinc-400 text-l mx-20 mt-5">Somos una empresa con sede en la ciudad de Pereira con  más de 10 años en el mercado. Donde hemos llevado acabo proyectos tanto para empresas pequeñas como para algunas de las más grandes del pais.</p>

    <p class="text-zinc-400 text-l mx-20 mt-5">Nuestro enfoque principal es realizar siempre el mejor trabajo con las mejores terminaciones y darle a nuestros clientes la confianza de tener un aliado estratégico en sus proyectos. Importamos nuestra materia prima para tener un precio y una calidad competitiva en el mercado.</p>
        
    <p class="text-zinc-400 text-l mx-20 mt-5">Además de ser expertos en todo tipo de puertas automáticas y de manipulacion manual, tambien tenemos experiencia desarrollando proyectos de ingenieria industrial como puentes grúa y cabinas de pintura.
    </p>
</section>