---
import logoSinFondo from '../../images/logo_sin_fondo.png'
---


<footer class="bg-zinc-700 p-10 flex flex-col md:flex-row gap-20 mx-auto justify-center" id="contacto">
    <div class="flex mx-auto">
        <img src={logoSinFondo.src} alt="logo flejes y maquinados" class="w-32">
        <div class="">
            <h2 class="text-zinc-200 mt-6 text-xl font-bold">Flejes y Maquiandos Pereira</h2>
            <p class='text-zinc-500 text-xs mt-5'>Copyright © 2024 Flejes y Maquinados Pereira</p>
            <p class="text-zinc-500 text-xs">Todos los derechos reservados</p>
        </div>
    </div>

    <div class="mt-5 mx-auto rounded-md bg-gradient-to-r from-blue-700 via-cyan-400 to-gray-700 p-1">
        <div class=" h-full w-full bg-zinc-700 p-3 mx-auto">
            <h2 class="text-zinc-200 text-xl font-bold text-center">Contacto</h2>

        <div class="flex flex-row mt-3 justify-center">
            <ion-icon name="logo-whatsapp" class="text-green-500 my-auto mr-2"></ion-icon>
            <p class="text-zinc-400">+57 3103959298</p>
        </div>

        <div class="flex flex-row mt-1 mx-auto justify-center">
            <ion-icon name="logo-whatsapp" class="text-green-500 my-auto mr-2"></ion-icon>
            <p class="text-zinc-400">+57 3115274122</p>
        </div>

        <div class="flex flex-row mt-1">
           <ion-icon name="mail-outline"  class="text-blue-300 my-auto mr-2"></ion-icon>
            <p class="text-zinc-400">alfonso.benavidez@hotmail.com</p>
        </div>
   
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</footer>