---
import puertaAzul from '../../images/puertas_azul.jpg'
---

<header class='bg-blue-900 flex flex-col md:flex-row p-20 gap-10 ' >
    <div class="p-5 flex flex-col  justify-center flex-1">
        <h1 class="text-5xl md:text-6xl font-bold pb-3 text-stone-200">Flejes y Maquinados</h1>
        <p class='text-stone-400 text-xl mt-3'>Expertos en puertas automáticas.</p>
        <a href="#contacto" class="text-center text-stone-400 bg-indigo-900 hover:bg-indigo-700 px-3 py-2 w-32 mt-3">
            Contáctanos
        </a>
    </div>
    <img src={puertaAzul.src} alt="puerta automatica" class='max-w-80 h-80 rounded-xl flex-1'/>
</header>