---
import projects from '../../config/projects.json'
import ProjectsCard from '../Card_Projects.astro'
---

<section class="container mx-auto mb-10 p-4">
    <h2 class="font-bold text-5xl text-center pt-10 text-blue-950 mb-3">Nuestros Proyectos</h2>
    <p class="font-bold text-center pb-3 text-zinc-500">Hecha un vistazo a algunos de nuestros proyectos 😉</p>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-2">
        {projects.map(project => {
            return(
                <ProjectsCard imagen={project.imagen} nombre={project.nombre} ciudad={project.Ciudad}/>
            )})}
    </div>
</section>