---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Flejes y maquinados Pereira es una empresa experta en la fabricacion e instalacion de Puertas automaticas, con mas de 10 años de experiencia en el sector y con clientes de una gran lista de ciudades" />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="flejes, maquinados, puertas, puertas automaticas, Ingenieria">
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="google-site-verification" content="Xnq0wHee1UwdhahvrXQM5bKhb4Lx84XYFzfE3_hR8sI" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Miguel Lopez">
		<meta http-equiv="content-language" content="es">
		<title>Flejes y Maquinados | {title}</title>
	</head>
	<body>
		<main class="w-screen mx-auto md:pt-10 bg-slate-300 overflow-x-hidden">
			<slot></slot>
		</main>
	</body>
</html>

